In [ ]:
pip install pandas geopandas

Requirement already satisfied: pandas in /home/shayan283/anaconda3/envs/cs418env/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: geopandas in /home/shayan283/anaconda3/envs/cs418env/lib/python3.12/site-packages (1.0.1)
Requirement already satisfied: numpy>=1.26.0 in /home/shayan283/anaconda3/envs/cs418env/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/shayan283/anaconda3/envs/cs418env/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/shayan283/anaconda3/envs/cs418env/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /home/shayan283/anaconda3/envs/cs418env/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: pyogrio>=0.7.2 in /home/shayan283/anaconda3/envs/cs418env/lib/python3.12/site-packages (from geopandas) (0.10.0)
Requirement already satisfied: packaging in /home/shayan283/anaconda3/envs/cs418env/lib/python3.12/site-packages (from geopandas) (24.2)
Requirement already satisfied: pyproj>=3.3.0 in /home/shayan283/anaconda3/envs/cs418env/lib/python3.12/site-packages (from geopandas) (3.7.1)
Requirement already satisfied: shapely>=2.0.0 in /home/shayan283/anaconda3/envs/cs418env/lib/python3.12/site-packages (from geopandas) (2.0.7)
Requirement already satisfied: certifi in /home/shayan283/anaconda3/envs/cs418env/lib/python3.12/site-packages (from pyogrio>=0.7.2->geopandas) (2024.12.14)
Requirement already satisfied: six>=1.5 in /home/shayan283/anaconda3/envs/cs418env/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
import pandas as pd
df = pd.read_csv('../data/raw/pfas.csv',  encoding='ISO-8859-1')

/tmp/ipykernel_51967/1910688702.py:2: DtypeWarning: Columns (20,26,27,29,32,36) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/raw/pfas.csv',  encoding='ISO-8859-1')

In [4]:
df.head()

,gm_dataset_name,gm_well_category,gm_data_source,gm_well_id,gm_chemical_vvl,gm_chemical_name,gm_result_modifier,gm_result,gm_chemical_units,gm_reporting_limit,...,src_analysis_date,src_analytical_method,src_lab_note,src_latitude,src_longitude,src_datum,src_well_depth_ft,src_top_depth_of_screen_ft,src_bottom_depth_of_screen_ft,src_well_category
0,DDW,Municipal,DDW,CA0800552_002_002,NMEFOSAA,N-Methyl perfluorooctane sulfonamidoacetic aci...,<,1.7,NG/L,1.7,...,12/30/2021,EPA 537.1,E.S. BABCOCK & SONS,41.781029,-124.2006,NaN,NaN,NaN,NaN,NaN
1,DDW,Municipal,DDW,CA0800552_002_002,PFNA,Perfluorononanoic acid (PFNA),<,1.7,NG/L,1.7,...,04/12/2021,NaN,E.S. BABCOCK & SONS,41.781029,-124.2006,NaN,NaN,NaN,NaN,NaN
2,DDW,Municipal,DDW,CA0800552_002_002,PFDOA,Perfluorododecanoic acid (PFDoDA),<,1.7,NG/L,1.7,...,04/12/2021,NaN,E.S. BABCOCK & SONS,41.781029,-124.2006,NaN,NaN,NaN,NaN,NaN
3,DDW,Municipal,DDW,CA0800552_002_002,PFTRIDA,Perfluorotridecanoic acid (PFTrDA),<,1.7,NG/L,1.7,...,04/12/2021,NaN,E.S. BABCOCK & SONS,41.781029,-124.2006,NaN,NaN,NaN,NaN,NaN
4,DDW,Municipal,DDW,CA0800552_002_002,PFTEDA,Perfluorotetradecanoic acid (PFTeDA),<,1.7,NG/L,1.7,...,04/06/2022,EPA 537.1,E.S. BABCOCK & SONS,41.781029,-124.2006,NaN,NaN,NaN,NaN,NaN

In [5]:
min_gm_result = df['gm_samp_collection_date'].min()
max_gm_result = df['gm_samp_collection_date'].max()
min_gm_result, max_gm_result

('2016-04-01', '2024-09-25')

In [6]:
# Convert the 'gm_samp_collection_date' to datetime if not already done
df['gm_samp_collection_date'] = pd.to_datetime(df['gm_samp_collection_date'])

# Filter the dataset for dates between 2017 and 2021
filtered_df = df[(df['gm_samp_collection_date'] >= '2017-01-01') & (df['gm_samp_collection_date'] <= '2021-12-31')]

df = filtered_df

# Display the filtered dataframe
df.head()

,gm_dataset_name,gm_well_category,gm_data_source,gm_well_id,gm_chemical_vvl,gm_chemical_name,gm_result_modifier,gm_result,gm_chemical_units,gm_reporting_limit,...,src_analysis_date,src_analytical_method,src_lab_note,src_latitude,src_longitude,src_datum,src_well_depth_ft,src_top_depth_of_screen_ft,src_bottom_depth_of_screen_ft,src_well_category
0,DDW,Municipal,DDW,CA0800552_002_002,NMEFOSAA,N-Methyl perfluorooctane sulfonamidoacetic aci...,<,1.7,NG/L,1.7,...,12/30/2021,EPA 537.1,E.S. BABCOCK & SONS,41.781029,-124.2006,NaN,NaN,NaN,NaN,NaN
1,DDW,Municipal,DDW,CA0800552_002_002,PFNA,Perfluorononanoic acid (PFNA),<,1.7,NG/L,1.7,...,04/12/2021,NaN,E.S. BABCOCK & SONS,41.781029,-124.2006,NaN,NaN,NaN,NaN,NaN
2,DDW,Municipal,DDW,CA0800552_002_002,PFDOA,Perfluorododecanoic acid (PFDoDA),<,1.7,NG/L,1.7,...,04/12/2021,NaN,E.S. BABCOCK & SONS,41.781029,-124.2006,NaN,NaN,NaN,NaN,NaN
3,DDW,Municipal,DDW,CA0800552_002_002,PFTRIDA,Perfluorotridecanoic acid (PFTrDA),<,1.7,NG/L,1.7,...,04/12/2021,NaN,E.S. BABCOCK & SONS,41.781029,-124.2006,NaN,NaN,NaN,NaN,NaN
7,DDW,Municipal,DDW,CA0800552_002_002,PFUNDCA,Perfluoroundecanoic acid (PFUnDA),<,1.7,NG/L,1.7,...,04/10/2020,NaN,E.S. BABCOCK & SONS,41.781029,-124.2006,NaN,NaN,NaN,NaN,NaN

In [7]:
df['gm_chemical_name'].value_counts()

gm_chemical_name
Perfluorooctanoic acid (PFOA)                                                              13935
Perfluorooctane sulfonate (PFOS)                                                           13932
Perfluorononanoic acid (PFNA)                                                              13536
Perfluoroheptanoic acid (PFHpA)                                                            13527
Perfluorotetradecanoic acid (PFTeDA)                                                       13228
Perfluorodecanoic acid (PFDA)                                                              13225
Perfluorotridecanoic acid (PFTrDA)                                                         13223
Perfluorohexanoic acid (PFHxA)                                                             13142
Perfluorobutane sulfonic acid (PFBS)                                                       12988
Perfluorohexanesulfonic acid (PFHxS)                                                       12986
N-Ethyl perfluorooctane sulfonamidoacetic acid (NEtFOSAA)                                  12977
N-Methyl perfluorooctane sulfonamidoacetic acid (NMeFOSAA)                                 12954
Perfluoroundecanoic acid (PFUnDA)                                                          12743
Perfluorododecanoic acid (PFDoDA)                                                          12742
4,8-Dioxa-3H-perfluorononanoic acid (ADONA)                                                10410
11-Chloroeicosafluoro-3-oxaundecane-1-sulfonic acid (11-Cl-PF3OUdS)                        10172
9-Chlorohexadecafluoro-3-oxanonane-1-sulfonic acid (9-Cl-PF3ONS)                           10170
2,3,3,3-tetrafluoro-2-(1,1,2,2,3,3,3-heptafluoropropoxy) propanoic acid (HFPO-DA)           9932
Perfluoropentanoic acid (PFPeA)                                                             2615
Perfluoroheptane sulfonic acid (PFHpS)                                                      2611
Perfluorooctane sulfonamide (PFOSAm)                                                        2609
6:2 Fluorotelomer sulfonic acid (1H,1H,2H,2H-Perfluorooctanesulfonic acid) (6:2 FTS)        2607
Perfluorodecane sulfonic acid (PFDS)                                                        2590
8:2 Fluorotelomer sulfonic acid (1H, 1H, 2H, 2H-Perfluorodecanesulfonic acid) (8:2 FTS)     2586
Perfluorobutyric acid (PFBA)                                                                2575
Perfluoropentane sulfonoic acid (PFPeS)                                                     2571
4:2 Fluorotelomer sulfonic acid (1H, 1H, 2H, 2H-Perfluorohexanesulfonic acid) (4:2 FTS)     2570
Perfluorononane sulfonic acid (PFNS)                                                        1765
N-Methyl perfluorooctane sulfonamide (MeFOSA)                                                425
N-Ethyl perfluorooctane sulfonamide (EtFOSA)                                                 403
N-Methyl perfluorooctane sulfonamide ethanol (MeFOSE)                                        329
N-Ethyl perfluorooctane sulfonamide ethanol (EtFOSE)                                         329
Perfluorohexadecanoic acid (PFHxDA)                                                          267
10:2 Fluorotelomer sulfonic acid (10:2 FTS)                                                  146
Perfluorooctadecanoic acid (PFODA)                                                           144
2H,2H,3H,3H-Perfluorodecanoic acid (7:3 FTCA)                                                 37
4,4,5,5,6,6,6-Heptafluorohexanoic Acid (3:3 FTCA)                                             37
2H,2H,3H,3H-Perfluorooctanoic Acid (5:3 FTCA)                                                 37
Name: count, dtype: int64

In [8]:
df['gm_chemical_vvl'].value_counts()

gm_chemical_vvl
PFOA           13935
PFOS           13932
PFNA           13536
PFHPA          13527
PFTEDA         13228
PFNDCA         13225
PFTRIDA        13223
PFHA           13142
PFBSA          12988
PFHXSA         12986
NETFOSAA       12977
NMEFOSAA       12954
PFUNDCA        12743
PFDOA          12742
ADONA          10410
11ClPF3OUDS    10172
9ClPF3ONS      10170
HFPA-DA         9932
PFPA            2615
PFHPSA          2611
PFOSA           2609
6:2FTS          2607
PFDSA           2590
8:2FTS          2586
PFBTA           2575
PFPES           2571
4:2FTS          2570
PFNS            1765
MEFOSA           425
ETFOSA           403
MEFOSE           329
ETFOSE           329
PFHXDA           267
10:2FTS          146
PFODA            144
7:3FTCA           37
3:3FTCA           37
5:3FTCA           37
Name: count, dtype: int64

In [9]:
df['gm_well_category'].value_counts()

gm_well_category
Municipal                  194404
Monitoring                  44802
Domestic                    11141
Water Supply, Other          1432
Irrigation / Industrial       823
Name: count, dtype: int64

In [10]:
missing_values = df.isna().sum()
missing_values

gm_dataset_name                       0
gm_well_category                    473
gm_data_source                        0
gm_well_id                            0
gm_chemical_vvl                       0
gm_chemical_name                      0
gm_result_modifier                  547
gm_result                         11246
gm_chemical_units                     0
gm_reporting_limit                    0
gm_samp_collection_date               0
gm_latitude                           0
gm_longitude                          0
gm_well_depth_ft                 223939
gm_top_depth_of_screen_ft         90826
gm_bottom_depth_of_screen_ft      91546
gm_cas_number                    253075
gm_altwell_id1                     4256
gm_altwell_id2                   253075
gm_altwell_id3                   253075
src_chemical                          0
src_result_modifier                1094
src_result                       164867
src_chemical_units                11246
src_reporting_limit                   0
src_samp_collection_date              0
src_samp_collection_time            452
src_analysis_date                 22440
src_analytical_method            146957
src_lab_note                      45972
src_latitude                          0
src_longitude                         0
src_datum                        194737
src_well_depth_ft                223939
src_top_depth_of_screen_ft       217505
src_bottom_depth_of_screen_ft    218225
src_well_category                183814
dtype: int64

In [11]:
# Drop values where gm_result is NaN
df = df.dropna(subset=['gm_result'])

In [12]:
# Group by 'gm_chemical_name' and 'year', then calculate the mean of 'gm_result'
average_result = df.groupby(['gm_chemical_name'])['gm_result'].mean().reset_index()

# Display the result
average_result

                                     gm_chemical_name    gm_result
0         10:2 Fluorotelomer sulfonic acid (10:2 FTS)     1.231096
1   11-Chloroeicosafluoro-3-oxaundecane-1-sulfonic...     2.040971
2   2,3,3,3-tetrafluoro-2-(1,1,2,2,3,3,3-heptafluo...     2.719122
3       2H,2H,3H,3H-Perfluorodecanoic acid (7:3 FTCA)     2.914324
4       2H,2H,3H,3H-Perfluorooctanoic Acid (5:3 FTCA)     3.563784
5   4,4,5,5,6,6,6-Heptafluorohexanoic Acid (3:3 FTCA)     2.751892
6         4,8-Dioxa-3H-perfluorononanoic acid (ADONA)     2.128056
7   4:2 Fluorotelomer sulfonic acid (1H, 1H, 2H, 2...    12.811694
8   6:2 Fluorotelomer sulfonic acid (1H,1H,2H,2H-P...  5246.471213
9   8:2 Fluorotelomer sulfonic acid (1H, 1H, 2H, 2...    35.516819
10  9-Chlorohexadecafluoro-3-oxanonane-1-sulfonic ...     2.004236
11       N-Ethyl perfluorooctane sulfonamide (EtFOSA)     6.629256
12  N-Ethyl perfluorooctane sulfonamide ethanol (E...     7.893860
13  N-Ethyl perfluorooctane sulfonamidoacetic acid...     3.448430
14      N-Methyl perfluorooctane sulfonamide (MeFOSA)     3.895553
15  N-Methyl perfluorooctane sulfonamide ethanol (...    13.271915
16  N-Methyl perfluorooctane sulfonamidoacetic aci...     3.172701
17               Perfluorobutane sulfonic acid (PFBS)    70.678622
18                       Perfluorobutyric acid (PFBA)   438.698794
19               Perfluorodecane sulfonic acid (PFDS)     1.874332
20                      Perfluorodecanoic acid (PFDA)     2.511673
21                  Perfluorododecanoic acid (PFDoDA)     2.176735
22             Perfluoroheptane sulfonic acid (PFHpS)    36.707897
23                    Perfluoroheptanoic acid (PFHpA)    45.854499
24                Perfluorohexadecanoic acid (PFHxDA)    58.811610
25               Perfluorohexanesulfonic acid (PFHxS)   246.223157
26                     Perfluorohexanoic acid (PFHxA)   199.482874
27               Perfluorononane sulfonic acid (PFNS)     1.832536
28                      Perfluorononanoic acid (PFNA)     9.345586
29                 Perfluorooctadecanoic acid (PFODA)     1.251250
30               Perfluorooctane sulfonamide (PFOSAm)    11.195730
31                   Perfluorooctane sulfonate (PFOS)   173.181124
32                      Perfluorooctanoic acid (PFOA)    70.835199
33            Perfluoropentane sulfonoic acid (PFPeS)   377.538543
34                    Perfluoropentanoic acid (PFPeA)   936.966072
35               Perfluorotetradecanoic acid (PFTeDA)     2.285756
36                 Perfluorotridecanoic acid (PFTrDA)     2.514384
37                  Perfluoroundecanoic acid (PFUnDA)     2.466338

In [13]:
california_counties = ['Alameda', 'Alpine', 'Amador', 'Butte', 'Calaveras', 'Colusa',
	'Contra Costa', 'Del Norte', 'El Dorado', 'Tulare', 'Fresno',
	'Glenn', 'Humboldt', 'Imperial', 'Inyo', 'Kern', 'Kings', 'Lake',
	'Lassen', 'Los Angeles', 'Madera', 'Marin', 'Mariposa',
	'Mendocino', 'Merced', 'Modoc', 'Mono', 'Monterey', 'Napa',
	'Nevada', 'Orange', 'Placer', 'Plumas', 'Riverside', 'Sacramento',
	'San Benito', 'San Bernardino', 'San Diego', 'San Francisco',
	'San Joaquin', 'San Luis Obispo', 'San Mateo', 'Santa Barbara',
	'Santa Clara', 'Santa Cruz', 'Shasta', 'Sierra', 'Siskiyou',
	'Solano', 'Sonoma', 'Stanislaus', 'Sutter', 'Shasta', 'Tehama',
	'Trinity', 'Tulare', 'Tuolumne', 'Ventura', 'Kern', 'Yolo', 'Yuba'
]

In [14]:
# Extract relevant columns
df = df[['gm_chemical_vvl', 'gm_result', 'gm_samp_collection_date', 'gm_latitude', 'gm_longitude']]
df = df.sort_values(by='gm_samp_collection_date', ascending=False)
df

,gm_chemical_vvl,gm_result,gm_samp_collection_date,gm_latitude,gm_longitude
551931,NMEFOSAA,12.0,2021-12-31,35.956463,-120.011327
572532,PFUNDCA,11.0,2021-12-31,35.956463,-120.011327
566570,PFDSA,320.0,2021-12-31,35.961235,-120.012274
566990,PFNS,37.0,2021-12-31,35.956407,-120.011303
569412,PFNDCA,3.2,2021-12-31,35.956463,-120.011327
...,...,...,...,...,...
562071,PFHPA,0.0,2017-01-18,33.950953,-118.387366
603285,PFHXSA,710.0,2017-01-18,33.950953,-118.387366
560845,PFBSA,0.0,2017-01-18,33.950953,-118.387366
559593,PFOA,300.0,2017-01-18,33.950953,-118.387366
586415,PFOSA,1100.0,2017-01-18,33.950953,-118.387366

In [15]:
import geopandas as gpd

# Load the shapefile
shapefile_path = '../data/raw/tl_2022_us_county.zip'
gdf = gpd.read_file(shapefile_path)

In [16]:
gdf.columns

Index(['STATEFP', 'COUNTYFP', 'COUNTYNS', 'GEOID', 'NAME', 'NAMELSAD', 'LSAD',
       'CLASSFP', 'MTFCC', 'CSAFP', 'CBSAFP', 'METDIVFP', 'FUNCSTAT', 'ALAND',
       'AWATER', 'INTPTLAT', 'INTPTLON', 'geometry'],
      dtype='object')

In [17]:
gdf.head()

,STATEFP,COUNTYFP,COUNTYNS,GEOID,NAME,NAMELSAD,LSAD,CLASSFP,MTFCC,CSAFP,CBSAFP,METDIVFP,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry
0,31,039,00835841,31039,Cuming,Cuming County,06,H1,G4020,None,None,None,A,1477644346,10691216,+41.9158651,-096.7885168,"POLYGON ((-96.55516 41.91587, -96.55515 41.914..."
1,53,069,01513275,53069,Wahkiakum,Wahkiakum County,06,H1,G4020,None,None,None,A,680980770,61564427,+46.2946377,-123.4244583,"POLYGON ((-123.72755 46.2645, -123.72756 46.26..."
2,35,011,00933054,35011,De Baca,De Baca County,06,H1,G4020,None,None,None,A,6016818946,29090018,+34.3592729,-104.3686961,"POLYGON ((-104.89337 34.08894, -104.89337 34.0..."
3,31,109,00835876,31109,Lancaster,Lancaster County,06,H1,G4020,None,None,None,A,2169272978,22847034,+40.7835474,-096.6886584,"POLYGON ((-96.68493 40.5233, -96.69219 40.5231..."
4,31,129,00835886,31129,Nuckolls,Nuckolls County,06,H1,G4020,None,None,None,A,1489645185,1718484,+40.1764918,-098.0468422,"POLYGON ((-98.2737 40.1184, -98.27374 40.1224,..."

In [18]:
# Calculate the bounds for each county
county_bounds = {}
for _, row in gdf.iterrows():
	county_name = row['NAME']  # Adjust this to match the column name in your shapefile
	bounds = row['geometry'].bounds
	county_bounds[county_name] = {
		'min_lat': bounds[1],
		'max_lat': bounds[3],
		'min_lon': bounds[0],
		'max_lon': bounds[2]
	}

In [19]:
california_county_bounds = {name: county_bounds[name] for name in california_counties}
california_county_bounds

{'Alameda': {'min_lat': 37.454186,
  'max_lat': 37.905824,
  'min_lon': -122.373782,
  'max_lon': -121.469214},
 'Alpine': {'min_lat': 38.32688,
  'max_lat': 38.933324,
  'min_lon': -120.073331,
  'max_lon': -119.542332},
 'Amador': {'min_lat': 38.217951,
  'max_lat': 38.709029,
  'min_lon': -121.02771,
  'max_lon': -120.072333},
 'Butte': {'min_lat': 44.570955,
  'max_lat': 45.2134,
  'min_lon': -104.057879,
  'max_lon': -102.9571},
 'Calaveras': {'min_lat': 37.831858,
  'max_lat': 38.509869,
  'min_lon': -120.9955,
  'max_lon': -120.019951},
 'Colusa': {'min_lat': 38.92384,
  'max_lat': 39.414593,
  'min_lon': -122.78509,
  'max_lon': -121.795318},
 'Contra Costa': {'min_lat': 37.718531,
  'max_lat': 38.099878,
  'min_lon': -122.441584,
  'max_lon': -121.534102},
 'Del Norte': {'min_lat': 41.380776,
  'max_lat': 42.000787,
  'min_lon': -124.440707,
  'max_lon': -123.517911},
 'El Dorado': {'min_lat': 38.502349,
  'max_lat': 39.067489,
  'min_lon': -121.141595,
  'max_lon': -119.877248},
 'Tulare': {'min_lat': 35.788935,
  'max_lat': 36.744816,
  'min_lon': -119.573194,
  'max_lon': -117.980761},
 'Fresno': {'min_lat': 35.906914,
  'max_lat': 37.585837,
  'min_lon': -120.918731,
  'max_lon': -118.360586},
 'Glenn': {'min_lat': 39.382946,
  'max_lat': 39.800561,
  'min_lon': -122.938413,
  'max_lon': -121.856381},
 'Humboldt': {'min_lat': 42.644327,
  'max_lat': 42.90833,
  'min_lon': -94.443166,
  'max_lon': -93.971238},
 'Imperial': {'min_lat': 32.61848,
  'max_lat': 33.433814,
  'min_lon': -116.106272,
  'max_lon': -114.46289},
 'Inyo': {'min_lat': 35.786579,
  'max_lat': 37.465238,
  'min_lon': -118.790031,
  'max_lon': -115.648357},
 'Kern': {'min_lat': 34.788655,
  'max_lat': 35.798392,
  'min_lon': -120.194369,
  'max_lon': -117.616517},
 'Kings': {'min_lat': 40.551042,
  'max_lat': 40.739421,
  'min_lon': -74.05663,
  'max_lon': -73.833041},
 'Lake': {'min_lat': 38.67078,
  'max_lat': 39.5814,
  'min_lon': -123.094216,
  'max_lon': -122.340172},
 'Lassen': {'min_lat': 39.707658,
  'max_lat': 41.184514,
  'min_lon': -121.332338,
  'max_lon': -119.995598},
 'Los Angeles': {'min_lat': 32.75004,
  'max_lat': 34.823302,
  'min_lon': -118.951721,
  'max_lon': -117.646374},
 'Madera': {'min_lat': 36.763047,
  'max_lat': 37.777986,
  'min_lon': -120.545536,
  'max_lon': -119.022363},
 'Marin': {'min_lat': 37.815102,
  'max_lat': 38.321227,
  'min_lon': -123.134523,
  'max_lon': -122.347454},
 'Mariposa': {'min_lat': 37.183108,
  'max_lat': 37.904122,
  'min_lon': -120.395441,
  'max_lon': -119.307284},
 'Mendocino': {'min_lat': 38.758119,
  'max_lat': 40.00247,
  'min_lon': -124.134889,
  'max_lon': -122.821355},
 'Merced': {'min_lat': 36.740381,
  'max_lat': 37.633364,
  'min_lon': -121.248647,
  'max_lon': -120.052055},
 'Modoc': {'min_lat': 41.183484,
  'max_lat': 41.997465,
  'min_lon': -121.457213,
  'max_lon': -119.998287},
 'Mono': {'min_lat': 37.462588,
  'max_lat': 38.713212,
  'min_lon': -119.651509,
  'max_lon': -117.832726},
 'Monterey': {'min_lat': 35.788977,
  'max_lat': 36.919683,
  'min_lon': -122.051878,
  'max_lon': -120.213979},
 'Napa': {'min_lat': 38.154933,
  'max_lat': 38.8643,
  'min_lon': -122.646616,
  'max_lon': -122.061397},
 'Nevada': {'min_lat': 33.440487,
  'max_lat': 33.960851,
  'min_lon': -93.483931,
  'max_lon': -93.104405},
 'Orange': {'min_lat': 41.143063,
  'max_lat': 41.632738,
  'min_lon': -74.762623,
  'max_lon': -73.947294},
 'Placer': {'min_lat': 38.711395,
  'max_lat': 39.316496,
  'min_lon': -121.484442,
  'max_lon': -120.002461},
 'Plumas': {'min_lat': 39.597264,
  'max_lat': 40.449715,
  'min_lon': -121.49788,
  'max_lon': -120.099339},
 'Riverside': {'min_lat': 33.425888,
  'max_lat': 34.079884,
  'min_lon': -117.676684,
  'max_lon': -114.434949},
 'Sacramento': {'min_lat': 38.018421,
  'max_lat': 38.736405,
  'min_lon': -121.862622,
  'max_lon': -121.027084},
 'San Benito': {'min_lat': 36.196848,
  'max_lat': 36.988944,
  'min_lon': -121.644001,
  'max_lon': -120.596562},
 'San Bernardino': {'min_lat': 33.87089,
  'max_lat': 35.809236,
  'min_lon': -117.802539,
  'max_lon': -114.131211},
 'San Diego': {'min_lat': 32.528832,
  'max_lat': 33.505025,
  'min_lon': -117.611081,
  'max_lon': -116.08094},
 'San Francisco': {'min_lat': 37.63983,
  'max_lat': 37.929824,
  'min_lon': -123.173825,
  'max_lon': -122.28178},
 'San Joaquin': {'min_lat': 37.481783,
  'max_lat': 38.300252,
  'min_lon': -121.585078,
  'max_lon': -120.92058},
 'San Luis Obispo': {'min_lat': 34.897475,
  'max_lat': 35.796655,
  'min_lon': -121.438176,
  'max_lon': -119.472489},
 'San Mateo': {'min_lat': 37.053858,
  'max_lat': 37.708617,
  'min_lon': -122.588177,
  'max_lon': -122.081473},
 'Santa Barbara': {'min_lat': 33.411024,
  'max_lat': 35.114678,
  'min_lon': -120.734382,
  'max_lon': -118.962728},
 'Santa Clara': {'min_lat': 36.892976,
  'max_lat': 37.484637,
  'min_lon': -122.202653,
  'max_lon': -121.208178},
 'Santa Cruz': {'min_lat': 36.8196,
  'max_lat': 37.286055,
  'min_lon': -122.317682,
  'max_lon': -121.581154},
 'Shasta': {'min_lat': 40.285375,
  'max_lat': 41.184978,
  'min_lon': -123.068838,
  'max_lon': -121.319976},
 'Sierra': {'min_lat': 32.605304,
  'max_lat': 33.480369,
  'min_lon': -108.000619,
  'max_lon': -106.340515},
 'Siskiyou': {'min_lat': 40.992193,
  'max_lat': 42.009503,
  'min_lon': -123.719174,
  'max_lon': -121.445994},
 'Solano': {'min_lat': 38.031721,
  'max_lat': 38.53905,
  'min_lon': -122.40697,
  'max_lon': -121.593273},
 'Sonoma': {'min_lat': 38.07326,
  'max_lat': 38.852916,
  'min_lon': -123.632497,
  'max_lon': -122.347454},
 'Stanislaus': {'min_lat': 37.134774,
  'max_lat': 38.077421,
  'min_lon': -121.486775,
  'max_lon': -120.387329},
 'Sutter': {'min_lat': 38.734598,
  'max_lat': 39.305668,
  'min_lon': -121.948294,
  'max_lon': -121.414375},
 'Tehama': {'min_lat': 39.797385,
  'max_lat': 40.453133,
  'min_lon': -123.066009,
  'max_lon': -121.342264},
 'Trinity': {'min_lat': 30.824566,
  'max_lat': 31.38693,
  'min_lon': -95.434781,
  'max_lon': -94.842947},
 'Tuolumne': {'min_lat': 37.633704,
  'max_lat': 38.433521,
  'min_lon': -120.653274,
  'max_lon': -119.196182},
 'Ventura': {'min_lat': 33.163493,
  'max_lat': 34.901171,
  'min_lon': -119.636302,
  'max_lon': -118.632494},
 'Yolo': {'min_lat': 38.313048,
  'max_lat': 38.92593,
  'min_lon': -122.422048,
  'max_lon': -121.501017},
 'Yuba': {'min_lat': 38.918348,
  'max_lat': 39.639459,
  'min_lon': -121.636368,
  'max_lon': -121.009477}}

In [20]:
def get_county_from_bounds(lat, lon):
	for county, bounds in california_county_bounds.items():
		if bounds['min_lat'] <= lat <= bounds['max_lat'] and bounds['min_lon'] <= lon <= bounds['max_lon']:
			return county
	return 'Unknown'

In [21]:
df['county'] = df.apply(lambda row: get_county_from_bounds(row['gm_latitude'], row['gm_longitude']), axis=1)
df

,gm_chemical_vvl,gm_result,gm_samp_collection_date,gm_latitude,gm_longitude,county
551931,NMEFOSAA,12.0,2021-12-31,35.956463,-120.011327,Fresno
572532,PFUNDCA,11.0,2021-12-31,35.956463,-120.011327,Fresno
566570,PFDSA,320.0,2021-12-31,35.961235,-120.012274,Fresno
566990,PFNS,37.0,2021-12-31,35.956407,-120.011303,Fresno
569412,PFNDCA,3.2,2021-12-31,35.956463,-120.011327,Fresno
...,...,...,...,...,...,...
562071,PFHPA,0.0,2017-01-18,33.950953,-118.387366,Los Angeles
603285,PFHXSA,710.0,2017-01-18,33.950953,-118.387366,Los Angeles
560845,PFBSA,0.0,2017-01-18,33.950953,-118.387366,Los Angeles
559593,PFOA,300.0,2017-01-18,33.950953,-118.387366,Los Angeles
586415,PFOSA,1100.0,2017-01-18,33.950953,-118.387366,Los Angeles

In [22]:
df['county'].value_counts()

county
Los Angeles        81062
Riverside          28059
Sacramento         13964
Santa Clara        12354
Kern               12342
Fresno              9493
San Diego           8873
Alameda             8686
San Bernardino      6791
Monterey            6528
Santa Barbara       6479
San Luis Obispo     6472
San Joaquin         6059
Unknown             5055
Contra Costa        4430
Tulare              3875
Shasta              2253
Sonoma              2030
Glenn               1571
Tehama              1516
Placer              1505
Merced              1440
San Mateo           1154
Sutter              1132
Marin                882
Lassen               757
Yuba                 656
Calaveras            621
San Francisco        600
Siskiyou             558
Modoc                522
Mendocino            471
Imperial             455
Mono                 448
Inyo                 393
Colusa               383
Solano               383
Napa                 312
Stanislaus           298
Lake                 270
Del Norte            264
Yolo                 158
El Dorado            113
Madera                90
Plumas                44
Amador                28
Name: count, dtype: int64

In [23]:
df = df[['gm_chemical_vvl', 'gm_result', 'gm_samp_collection_date', 'county']]
df = df.sort_values(by='gm_samp_collection_date', ascending=False)
df.head(60)

       gm_chemical_vvl  gm_result gm_samp_collection_date  county
551931        NMEFOSAA       12.0              2021-12-31  Fresno
610402          4:2FTS        2.5              2021-12-31  Fresno
607562          PFTEDA      730.0              2021-12-31  Fresno
609561          6:2FTS      250.0              2021-12-31  Fresno
609994           PFHPA      360.0              2021-12-31  Fresno
624571           PFDOA      550.0              2021-12-31  Fresno
621619          8:2FTS      460.0              2021-12-31  Fresno
620835           PFBSA      470.0              2021-12-31  Fresno
619244          PFHXSA      240.0              2021-12-31  Fresno
617337           PFBTA    70000.0              2021-12-31  Fresno
616094          8:2FTS        4.7              2021-12-31  Fresno
593091            PFNA        3.9              2021-12-31  Fresno
616093            PFHA     1100.0              2021-12-31  Fresno
614921         PFTRIDA       13.0              2021-12-31  Fresno
614920          PFNDCA      310.0              2021-12-31  Fresno
613682           PFHPA      250.0              2021-12-31  Fresno
613275           PFPES       36.0              2021-12-31  Fresno
607561           PFOSA      980.0              2021-12-31  Fresno
605913         PFTRIDA     1300.0              2021-12-31  Fresno
605530           PFPES      300.0              2021-12-31  Fresno
597094          6:2FTS       26.0              2021-12-31  Fresno
572532         PFUNDCA       11.0              2021-12-31  Fresno
641871           PFDOA        5.7              2021-12-31  Fresno
644704           PFBTA     5100.0              2021-12-31  Fresno
544304          6:2FTS     2500.0              2021-12-31  Fresno
593523           PFBTA      870.0              2021-12-31  Fresno
594334        NMEFOSAA      120.0              2021-12-31  Fresno
633431          4:2FTS       24.0              2021-12-31  Fresno
605529            PFPA      530.0              2021-12-31  Fresno
597491          PFHXSA     1700.0              2021-12-31  Fresno
598321          PFNDCA       31.0              2021-12-31  Fresno
600326            PFOA      850.0              2021-12-31  Fresno
646252            PFOS      520.0              2021-12-31  Fresno
601084          4:2FTS      240.0              2021-12-31  Fresno
601870         PFUNDCA      110.0              2021-12-31  Fresno
612064           PFOSA       10.0              2021-12-31  Fresno
642654            PFHA      580.0              2021-12-31  Fresno
615325            PFNS      370.0              2021-12-31  Fresno
565403            PFPA      970.0              2021-12-31  Fresno
566569          PFHPSA        2.2              2021-12-31  Fresno
583375           PFHPA      350.0              2021-12-31  Fresno
580949            PFOA      520.0              2021-12-31  Fresno
579400            PFNS        3.8              2021-12-31  Fresno
634644        NETFOSAA       13.0              2021-12-31  Fresno
577843          PFHXSA      570.0              2021-12-31  Fresno
635887            PFPA      710.0              2021-12-31  Fresno
591061            PFOS       38.0              2021-12-31  Fresno
577034           PFDSA       32.0              2021-12-31  Fresno
570607           PFBSA      100.0              2021-12-31  Fresno
570153          PFTEDA        7.5              2021-12-31  Fresno
570152          PFHPSA       19.0              2021-12-31  Fresno
569412          PFNDCA        3.2              2021-12-31  Fresno
566990            PFNS       37.0              2021-12-31  Fresno
640661            PFOS      540.0              2021-12-31  Fresno
565780           PFBSA     3000.0              2021-12-31  Fresno
566570           PFDSA      320.0              2021-12-31  Fresno
636307           PFPES      300.0              2021-12-31  Fresno
551120          8:2FTS       46.0              2021-12-31  Fresno
592656         PFTRIDA      130.0              2021-12-31  Fresno
558217        NETFOSAA     1300.0              2021-12-31  Fresno

In [24]:
grouped_df = df.groupby(['county', 'gm_samp_collection_date', 'gm_chemical_vvl'])['gm_result'].mean().reset_index()
grouped_df = grouped_df.sort_values(by='gm_samp_collection_date', ascending=False)
# Display the grouped dataframe
grouped_df.head(10)

      county gm_samp_collection_date gm_chemical_vvl   gm_result
7959  Fresno              2021-12-31           PFPES  212.000000
7947  Fresno              2021-12-31           PFDSA  118.433333
7961  Fresno              2021-12-31         PFTRIDA  481.000000
7962  Fresno              2021-12-31         PFUNDCA  407.000000
7960  Fresno              2021-12-31          PFTEDA  270.500000
7939  Fresno              2021-12-31          4:2FTS   88.833333
7940  Fresno              2021-12-31          6:2FTS  925.333333
7941  Fresno              2021-12-31          8:2FTS  170.233333
7942  Fresno              2021-12-31        NETFOSAA  481.000000
7943  Fresno              2021-12-31        NMEFOSAA  444.000000

In [25]:
# Pivot the DataFrame to wide format
wide_df = grouped_df.pivot(index=['county', 'gm_samp_collection_date'], columns='gm_chemical_vvl', values='gm_result').reset_index()

# Display the wide format DataFrame
wide_df.head(10)

gm_chemical_vvl,county,gm_samp_collection_date,10:2FTS,11ClPF3OUDS,3:3FTCA,4:2FTS,5:3FTCA,6:2FTS,7:3FTCA,8:2FTS,...,PFNS,PFOA,PFODA,PFOS,PFOSA,PFPA,PFPES,PFTEDA,PFTRIDA,PFUNDCA
0,Alameda,2018-09-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.000000,NaN,NaN,3.3,2.05,NaN,3.300000,3.300000,2.050000
1,Alameda,2018-11-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2.900000,NaN,12.000000,NaN,NaN,NaN,2.000000,2.000000,2.000000
2,Alameda,2018-12-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2.500000,NaN,9.000000,NaN,NaN,NaN,2.000000,2.000000,2.000000
3,Alameda,2019-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4.016667,NaN,28.333333,NaN,NaN,NaN,2.033333,2.033333,2.033333
4,Alameda,2019-01-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4.525000,NaN,40.750000,NaN,NaN,NaN,NaN,NaN,NaN
5,Alameda,2019-04-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4.500000,NaN,19.000000,NaN,NaN,NaN,NaN,NaN,NaN
6,Alameda,2019-04-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.325000,NaN,34.750000,NaN,NaN,NaN,2.000000,2.000000,2.000000
7,Alameda,2019-04-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,5.225000,NaN,33.550000,NaN,NaN,NaN,2.000000,2.000000,2.000000
8,Alameda,2019-04-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,6.100000,NaN,50.000000,NaN,NaN,NaN,2.000000,2.000000,2.000000
9,Alameda,2019-05-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,5.833333,NaN,60.333333,NaN,NaN,NaN,2.000000,2.000000,2.000000

In [26]:
# Flatten the columns and rename them
wide_df.columns.name = None
wide_df.columns = ['county', 'gm_samp_collection_date'] + [f'{col}' for col in wide_df.columns[2:]]

wide_df = wide_df.sort_values(by=['county', 'gm_samp_collection_date'], ascending=False)

# Display the wide format DataFrame with renamed columns
wide_df.head(10)

,county,gm_samp_collection_date,10:2FTS,11ClPF3OUDS,3:3FTCA,4:2FTS,5:3FTCA,6:2FTS,7:3FTCA,8:2FTS,...,PFNS,PFOA,PFODA,PFOS,PFOSA,PFPA,PFPES,PFTEDA,PFTRIDA,PFUNDCA
3653,Yuba,2021-11-18,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,10.0,NaN,12.0,NaN,NaN,NaN,2.0,2.0,2.0
3652,Yuba,2021-11-01,NaN,NaN,NaN,7.40,NaN,7.40,NaN,7.40,...,1.9,1.9,NaN,1.9,3.7,1.9,1.9,1.9,1.9,NaN
3651,Yuba,2021-09-30,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,10.0,NaN,10.0,NaN,NaN,NaN,2.0,2.0,2.0
3650,Yuba,2021-09-15,NaN,NaN,NaN,7.55,NaN,7.55,NaN,7.55,...,1.9,1.9,NaN,1.9,3.8,1.9,1.9,1.9,1.9,NaN
3649,Yuba,2021-09-14,NaN,NaN,NaN,8.00,NaN,8.00,NaN,8.00,...,2.0,2.0,NaN,2.0,4.0,2.0,2.0,2.0,2.0,NaN
3648,Yuba,2021-09-13,NaN,NaN,NaN,7.70,NaN,7.70,NaN,7.70,...,1.9,1.9,NaN,1.9,3.8,1.9,1.9,1.9,1.9,NaN
3647,Yuba,2021-08-26,NaN,NaN,NaN,7.40,NaN,7.40,NaN,7.40,...,1.9,2.7,NaN,3.4,3.7,1.7,1.9,1.9,1.9,NaN
3646,Yuba,2021-08-25,NaN,NaN,NaN,7.10,NaN,7.10,NaN,7.10,...,1.8,1.8,NaN,1.8,3.6,1.8,1.8,1.8,1.8,NaN
3645,Yuba,2021-08-23,NaN,NaN,NaN,8.30,NaN,8.30,NaN,8.30,...,2.1,1.5,NaN,2.1,4.2,1.7,2.1,2.1,2.1,NaN
3644,Yuba,2021-05-13,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,10.0,NaN,11.0,NaN,NaN,NaN,2.0,2.0,2.0

In [27]:
wide_df.isna().sum()

county                        0
gm_samp_collection_date       0
10:2FTS                    3615
11ClPF3OUDS                1008
3:3FTCA                    3645
4:2FTS                     2883
5:3FTCA                    3645
6:2FTS                     2876
7:3FTCA                    3645
8:2FTS                     2877
9ClPF3ONS                  1008
ADONA                      1023
ETFOSA                     3549
ETFOSE                     3579
HFPA-DA                    1028
MEFOSA                     3536
MEFOSE                     3579
NETFOSAA                    252
NMEFOSAA                    257
PFBSA                       198
PFBTA                      2886
PFDOA                       486
PFDSA                      2868
PFHA                        234
PFHPA                       114
PFHPSA                     2863
PFHXDA                     3578
PFHXSA                      196
PFNA                        110
PFNDCA                      217
PFNS                       3097
PFOA                          1
PFODA                      3616
PFOS                          3
PFOSA                      2866
PFPA                       2866
PFPES                      2885
PFTEDA                      215
PFTRIDA                     215
PFUNDCA                     486
dtype: int64

In [28]:
# Ensure the 'gm_samp_collection_date' column is in datetime format
wide_df['gm_samp_collection_date'] = pd.to_datetime(wide_df['gm_samp_collection_date'])

# Extract the year from the 'gm_samp_collection_date' column
wide_df['year'] = wide_df['gm_samp_collection_date'].dt.year

# Calculate the annual mean for each PFAS by county and year
annual_means = wide_df.groupby(['county', 'year']).mean().reset_index()
annual_means

,county,year,gm_samp_collection_date,10:2FTS,11ClPF3OUDS,3:3FTCA,4:2FTS,5:3FTCA,6:2FTS,7:3FTCA,...,PFNS,PFOA,PFODA,PFOS,PFOSA,PFPA,PFPES,PFTEDA,PFTRIDA,PFUNDCA
0,Alameda,2018,2018-11-04 00:00:00.000000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2.800000,NaN,10.500000,3.300000,2.050000,NaN,2.433333,2.433333,2.016667
1,Alameda,2019,2019-08-06 19:51:43.448275968,5.168571,2.023503,2.195714,1.553516,2.744286,688.090220,2.195714,...,6.537143,136.990561,3.844286,3774.483008,79.073196,801.419744,390.941038,1.412557,1.461570,1.649533
2,Alameda,2020,2020-07-26 12:18:27.692307712,NaN,2.222973,NaN,4.444444,NaN,5.000000,NaN,...,0.000000,39.402360,NaN,735.640402,4.520278,212.475000,399.623519,2.279915,2.108974,2.108974
3,Alameda,2021,2021-07-07 06:00:00.000000000,0.000000,2.390826,NaN,20.589194,NaN,190.079113,NaN,...,0.000000,43.218412,NaN,31.332361,20.514556,232.807292,35.946111,3.170637,4.287939,3.889180
4,Amador,2021,2021-10-25 00:00:00.000000000,NaN,NaN,NaN,7.400000,NaN,7.400000,NaN,...,1.900000,5.000000,NaN,1.600000,3.700000,3.500000,1.900000,1.900000,1.900000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142,Yolo,2020,2020-09-06 12:00:00.000000000,NaN,2.000000,NaN,7.100000,NaN,7.100000,NaN,...,3.600000,2.800000,NaN,2.800000,3.600000,3.600000,3.600000,2.800000,2.800000,2.000000
143,Yolo,2021,2021-06-26 18:00:00.000000000,NaN,2.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,2.000000,NaN,2.175000,NaN,NaN,NaN,2.000000,2.000000,2.000000
144,Yuba,2019,2019-08-28 00:00:00.000000000,NaN,2.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,7.675000,NaN,50.795000,NaN,NaN,NaN,2.000000,2.000000,2.000000
145,Yuba,2020,2020-06-21 06:00:00.000000000,NaN,2.000000,NaN,8.000000,NaN,8.000000,NaN,...,2.000000,7.150000,NaN,17.850000,4.000000,2.000000,2.000000,2.000000,2.000000,2.000000
146,Yuba,2021,2021-07-16 18:27:41.538461440,NaN,2.000000,NaN,7.616667,NaN,7.616667,NaN,...,1.922222,4.361538,NaN,4.753846,3.822222,1.855556,1.922222,1.946154,1.946154,2.000000

In [29]:
# Function to fill missing values with the annual mean
def fill_with_annual_mean(row, annual_means):
	county = row['county']
	year = row['year']
	for col in annual_means.columns[2:]:  # Skip 'county' and 'year' columns
		if pd.isna(row[col]):
			mean_value = annual_means[(annual_means['county'] == county) & (annual_means['year'] == year)][col]
			if not mean_value.empty:
					row[col] = mean_value.values[0]
	return row

# Apply the function to fill missing values
wide_df_filled = wide_df.apply(lambda row: fill_with_annual_mean(row, annual_means), axis=1)

# Drop the 'year' column as it's no longer needed
wide_df_filled = wide_df_filled.drop(columns=['year'])

wide_df_filled = wide_df_filled.sort_values(by=['county', 'gm_samp_collection_date'], ascending=False)

# Display the DataFrame with filled values
wide_df_filled.head(10)

,county,gm_samp_collection_date,10:2FTS,11ClPF3OUDS,3:3FTCA,4:2FTS,5:3FTCA,6:2FTS,7:3FTCA,8:2FTS,...,PFNS,PFOA,PFODA,PFOS,PFOSA,PFPA,PFPES,PFTEDA,PFTRIDA,PFUNDCA
3653,Yuba,2021-11-18,NaN,2.0,NaN,7.616667,NaN,7.616667,NaN,7.616667,...,1.922222,10.0,NaN,12.0,3.822222,1.855556,1.922222,2.0,2.0,2.0
3652,Yuba,2021-11-01,NaN,2.0,NaN,7.400000,NaN,7.400000,NaN,7.400000,...,1.900000,1.9,NaN,1.9,3.700000,1.900000,1.900000,1.9,1.9,2.0
3651,Yuba,2021-09-30,NaN,2.0,NaN,7.616667,NaN,7.616667,NaN,7.616667,...,1.922222,10.0,NaN,10.0,3.822222,1.855556,1.922222,2.0,2.0,2.0
3650,Yuba,2021-09-15,NaN,2.0,NaN,7.550000,NaN,7.550000,NaN,7.550000,...,1.900000,1.9,NaN,1.9,3.800000,1.900000,1.900000,1.9,1.9,2.0
3649,Yuba,2021-09-14,NaN,2.0,NaN,8.000000,NaN,8.000000,NaN,8.000000,...,2.000000,2.0,NaN,2.0,4.000000,2.000000,2.000000,2.0,2.0,2.0
3648,Yuba,2021-09-13,NaN,2.0,NaN,7.700000,NaN,7.700000,NaN,7.700000,...,1.900000,1.9,NaN,1.9,3.800000,1.900000,1.900000,1.9,1.9,2.0
3647,Yuba,2021-08-26,NaN,2.0,NaN,7.400000,NaN,7.400000,NaN,7.400000,...,1.900000,2.7,NaN,3.4,3.700000,1.700000,1.900000,1.9,1.9,2.0
3646,Yuba,2021-08-25,NaN,2.0,NaN,7.100000,NaN,7.100000,NaN,7.100000,...,1.800000,1.8,NaN,1.8,3.600000,1.800000,1.800000,1.8,1.8,2.0
3645,Yuba,2021-08-23,NaN,2.0,NaN,8.300000,NaN,8.300000,NaN,8.300000,...,2.100000,1.5,NaN,2.1,4.200000,1.700000,2.100000,2.1,2.1,2.0
3644,Yuba,2021-05-13,NaN,2.0,NaN,7.616667,NaN,7.616667,NaN,7.616667,...,1.922222,10.0,NaN,11.0,3.822222,1.855556,1.922222,2.0,2.0,2.0

In [30]:
# Fill NaN values with the mean for all columns except 'county' and 'gm_samp_collection_date'
columns_to_fill = wide_df_filled.columns.difference(['county', 'gm_samp_collection_date'])
wide_df_filled[columns_to_fill] = wide_df_filled[columns_to_fill].fillna(wide_df_filled[columns_to_fill].mean())

# Display the DataFrame with filled values
wide_df_filled

,county,gm_samp_collection_date,10:2FTS,11ClPF3OUDS,3:3FTCA,4:2FTS,5:3FTCA,6:2FTS,7:3FTCA,8:2FTS,...,PFNS,PFOA,PFODA,PFOS,PFOSA,PFPA,PFPES,PFTEDA,PFTRIDA,PFUNDCA
3653,Yuba,2021-11-18,2.322092,2.000000,4.251273,7.616667,3.418426,7.616667,5.346817,7.616667,...,1.922222,10.000000,3.283286,12.000000,3.822222,1.855556,1.922222,2.000000,2.000000,2.000000
3652,Yuba,2021-11-01,2.322092,2.000000,4.251273,7.400000,3.418426,7.400000,5.346817,7.400000,...,1.900000,1.900000,3.283286,1.900000,3.700000,1.900000,1.900000,1.900000,1.900000,2.000000
3651,Yuba,2021-09-30,2.322092,2.000000,4.251273,7.616667,3.418426,7.616667,5.346817,7.616667,...,1.922222,10.000000,3.283286,10.000000,3.822222,1.855556,1.922222,2.000000,2.000000,2.000000
3650,Yuba,2021-09-15,2.322092,2.000000,4.251273,7.550000,3.418426,7.550000,5.346817,7.550000,...,1.900000,1.900000,3.283286,1.900000,3.800000,1.900000,1.900000,1.900000,1.900000,2.000000
3649,Yuba,2021-09-14,2.322092,2.000000,4.251273,8.000000,3.418426,8.000000,5.346817,8.000000,...,2.000000,2.000000,3.283286,2.000000,4.000000,2.000000,2.000000,2.000000,2.000000,2.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,Alameda,2019-01-22,5.168571,2.023503,2.195714,1.553516,2.744286,688.090220,2.195714,100.751923,...,6.537143,4.525000,3.844286,40.750000,79.073196,801.419744,390.941038,1.412557,1.461570,1.649533
3,Alameda,2019-01-02,5.168571,2.023503,2.195714,1.553516,2.744286,688.090220,2.195714,100.751923,...,6.537143,4.016667,3.844286,28.333333,79.073196,801.419744,390.941038,2.033333,2.033333,2.033333
2,Alameda,2018-12-04,2.322092,2.066273,4.251273,7.846245,3.418426,2136.875818,5.346817,54.121071,...,1.688733,2.500000,3.283286,9.000000,3.300000,2.050000,140.359630,2.000000,2.000000,2.000000
1,Alameda,2018-11-28,2.322092,2.066273,4.251273,7.846245,3.418426,2136.875818,5.346817,54.121071,...,1.688733,2.900000,3.283286,12.000000,3.300000,2.050000,140.359630,2.000000,2.000000,2.000000
0,Alameda,2018-09-11,2.322092,2.066273,4.251273,7.846245,3.418426,2136.875818,5.346817,54.121071,...,1.688733,3.000000,3.283286,10.500000,3.300000,2.050000,140.359630,3.300000,3.300000,2.050000

In [31]:
pfas_missing_values_by_county = wide_df_filled.isna().sum()
pfas_missing_values_by_county

county                     0
gm_samp_collection_date    0
10:2FTS                    0
11ClPF3OUDS                0
3:3FTCA                    0
4:2FTS                     0
5:3FTCA                    0
6:2FTS                     0
7:3FTCA                    0
8:2FTS                     0
9ClPF3ONS                  0
ADONA                      0
ETFOSA                     0
ETFOSE                     0
HFPA-DA                    0
MEFOSA                     0
MEFOSE                     0
NETFOSAA                   0
NMEFOSAA                   0
PFBSA                      0
PFBTA                      0
PFDOA                      0
PFDSA                      0
PFHA                       0
PFHPA                      0
PFHPSA                     0
PFHXDA                     0
PFHXSA                     0
PFNA                       0
PFNDCA                     0
PFNS                       0
PFOA                       0
PFODA                      0
PFOS                       0
PFOSA                      0
PFPA                       0
PFPES                      0
PFTEDA                     0
PFTRIDA                    0
PFUNDCA                    0
dtype: int64

In [32]:
wide_df_filled = wide_df_filled.fillna(0)
wide_df_filled

,county,gm_samp_collection_date,10:2FTS,11ClPF3OUDS,3:3FTCA,4:2FTS,5:3FTCA,6:2FTS,7:3FTCA,8:2FTS,...,PFNS,PFOA,PFODA,PFOS,PFOSA,PFPA,PFPES,PFTEDA,PFTRIDA,PFUNDCA
3653,Yuba,2021-11-18,2.322092,2.000000,4.251273,7.616667,3.418426,7.616667,5.346817,7.616667,...,1.922222,10.000000,3.283286,12.000000,3.822222,1.855556,1.922222,2.000000,2.000000,2.000000
3652,Yuba,2021-11-01,2.322092,2.000000,4.251273,7.400000,3.418426,7.400000,5.346817,7.400000,...,1.900000,1.900000,3.283286,1.900000,3.700000,1.900000,1.900000,1.900000,1.900000,2.000000
3651,Yuba,2021-09-30,2.322092,2.000000,4.251273,7.616667,3.418426,7.616667,5.346817,7.616667,...,1.922222,10.000000,3.283286,10.000000,3.822222,1.855556,1.922222,2.000000,2.000000,2.000000
3650,Yuba,2021-09-15,2.322092,2.000000,4.251273,7.550000,3.418426,7.550000,5.346817,7.550000,...,1.900000,1.900000,3.283286,1.900000,3.800000,1.900000,1.900000,1.900000,1.900000,2.000000
3649,Yuba,2021-09-14,2.322092,2.000000,4.251273,8.000000,3.418426,8.000000,5.346817,8.000000,...,2.000000,2.000000,3.283286,2.000000,4.000000,2.000000,2.000000,2.000000,2.000000,2.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,Alameda,2019-01-22,5.168571,2.023503,2.195714,1.553516,2.744286,688.090220,2.195714,100.751923,...,6.537143,4.525000,3.844286,40.750000,79.073196,801.419744,390.941038,1.412557,1.461570,1.649533
3,Alameda,2019-01-02,5.168571,2.023503,2.195714,1.553516,2.744286,688.090220,2.195714,100.751923,...,6.537143,4.016667,3.844286,28.333333,79.073196,801.419744,390.941038,2.033333,2.033333,2.033333
2,Alameda,2018-12-04,2.322092,2.066273,4.251273,7.846245,3.418426,2136.875818,5.346817,54.121071,...,1.688733,2.500000,3.283286,9.000000,3.300000,2.050000,140.359630,2.000000,2.000000,2.000000
1,Alameda,2018-11-28,2.322092,2.066273,4.251273,7.846245,3.418426,2136.875818,5.346817,54.121071,...,1.688733,2.900000,3.283286,12.000000,3.300000,2.050000,140.359630,2.000000,2.000000,2.000000
0,Alameda,2018-09-11,2.322092,2.066273,4.251273,7.846245,3.418426,2136.875818,5.346817,54.121071,...,1.688733,3.000000,3.283286,10.500000,3.300000,2.050000,140.359630,3.300000,3.300000,2.050000

In [33]:
wide_df_filled = wide_df_filled.sort_values(by=['county', 'gm_samp_collection_date'])
wide_df_filled

,county,gm_samp_collection_date,10:2FTS,11ClPF3OUDS,3:3FTCA,4:2FTS,5:3FTCA,6:2FTS,7:3FTCA,8:2FTS,...,PFNS,PFOA,PFODA,PFOS,PFOSA,PFPA,PFPES,PFTEDA,PFTRIDA,PFUNDCA
0,Alameda,2018-09-11,2.322092,2.066273,4.251273,7.846245,3.418426,2136.875818,5.346817,54.121071,...,1.688733,3.000000,3.283286,10.500000,3.300000,2.050000,140.359630,3.300000,3.300000,2.050000
1,Alameda,2018-11-28,2.322092,2.066273,4.251273,7.846245,3.418426,2136.875818,5.346817,54.121071,...,1.688733,2.900000,3.283286,12.000000,3.300000,2.050000,140.359630,2.000000,2.000000,2.000000
2,Alameda,2018-12-04,2.322092,2.066273,4.251273,7.846245,3.418426,2136.875818,5.346817,54.121071,...,1.688733,2.500000,3.283286,9.000000,3.300000,2.050000,140.359630,2.000000,2.000000,2.000000
3,Alameda,2019-01-02,5.168571,2.023503,2.195714,1.553516,2.744286,688.090220,2.195714,100.751923,...,6.537143,4.016667,3.844286,28.333333,79.073196,801.419744,390.941038,2.033333,2.033333,2.033333
4,Alameda,2019-01-22,5.168571,2.023503,2.195714,1.553516,2.744286,688.090220,2.195714,100.751923,...,6.537143,4.525000,3.844286,40.750000,79.073196,801.419744,390.941038,1.412557,1.461570,1.649533
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3649,Yuba,2021-09-14,2.322092,2.000000,4.251273,8.000000,3.418426,8.000000,5.346817,8.000000,...,2.000000,2.000000,3.283286,2.000000,4.000000,2.000000,2.000000,2.000000,2.000000,2.000000
3650,Yuba,2021-09-15,2.322092,2.000000,4.251273,7.550000,3.418426,7.550000,5.346817,7.550000,...,1.900000,1.900000,3.283286,1.900000,3.800000,1.900000,1.900000,1.900000,1.900000,2.000000
3651,Yuba,2021-09-30,2.322092,2.000000,4.251273,7.616667,3.418426,7.616667,5.346817,7.616667,...,1.922222,10.000000,3.283286,10.000000,3.822222,1.855556,1.922222,2.000000,2.000000,2.000000
3652,Yuba,2021-11-01,2.322092,2.000000,4.251273,7.400000,3.418426,7.400000,5.346817,7.400000,...,1.900000,1.900000,3.283286,1.900000,3.700000,1.900000,1.900000,1.900000,1.900000,2.000000
3653,Yuba,2021-11-18,2.322092,2.000000,4.251273,7.616667,3.418426,7.616667,5.346817,7.616667,...,1.922222,10.000000,3.283286,12.000000,3.822222,1.855556,1.922222,2.000000,2.000000,2.000000

In [34]:
import numpy as np

# Apply log transformation to all PFAS columns (excluding county and date)
pfas_columns = wide_df_filled.columns.difference(['county', 'gm_samp_collection_date'])

# Add small constant (1) before taking log to handle zeros
wide_df_filled[pfas_columns] = np.log1p(wide_df_filled[pfas_columns])

# Display first few rows of log-transformed data
wide_df_filled.head()

,county,gm_samp_collection_date,10:2FTS,11ClPF3OUDS,3:3FTCA,4:2FTS,5:3FTCA,6:2FTS,7:3FTCA,8:2FTS,...,PFNS,PFOA,PFODA,PFOS,PFOSA,PFPA,PFPES,PFTEDA,PFTRIDA,PFUNDCA
0,Alameda,2018-09-11,1.200595,1.120463,1.658471,2.179993,1.485784,7.667568,1.847953,4.009532,...,0.989070,1.386294,1.45472,2.442347,1.458615,1.115142,4.951307,1.458615,1.458615,1.115142
1,Alameda,2018-11-28,1.200595,1.120463,1.658471,2.179993,1.485784,7.667568,1.847953,4.009532,...,0.989070,1.360977,1.45472,2.564949,1.458615,1.115142,4.951307,1.098612,1.098612,1.098612
2,Alameda,2018-12-04,1.200595,1.120463,1.658471,2.179993,1.485784,7.667568,1.847953,4.009532,...,0.989070,1.252763,1.45472,2.302585,1.458615,1.115142,4.951307,1.098612,1.098612,1.098612
3,Alameda,2019-01-02,1.819467,1.106416,1.161811,0.937471,1.320231,6.535372,1.161811,4.622538,...,2.019843,1.612766,1.57780,3.378725,4.382941,6.687632,5.971111,1.109662,1.109662,1.109662
4,Alameda,2019-01-22,1.819467,1.106416,1.161811,0.937471,1.320231,6.535372,1.161811,4.622538,...,2.019843,1.709283,1.57780,3.731699,4.382941,6.687632,5.971111,0.880687,0.900799,0.974383

In [35]:
# Get list of PFAS chemical columns (excluding county and date)
pfas_columns = wide_df_filled.columns.difference(['county', 'gm_samp_collection_date'])

# Calculate total PFAS concentration for each row by summing across all PFAS columns
wide_df_filled['total_pfas_concentration'] = wide_df_filled[pfas_columns].sum(axis=1)

# Display the first few rows to verify the total_pfas_concentration column
print("First few rows with total PFAS concentrations:")
wide_df_filled[['county', 'gm_samp_collection_date', 'total_pfas_concentration']].head()

First few rows with total PFAS concentrations:

    county gm_samp_collection_date  total_pfas_concentration
0  Alameda              2018-09-11                 66.303941
1  Alameda              2018-11-28                 66.519945
2  Alameda              2018-12-04                 66.710444
3  Alameda              2019-01-02                 87.917981
4  Alameda              2019-01-22                100.922045

In [36]:
# Save the DataFrame to a CSV file
wide_df_filled.to_csv('../data/cleaned/cleaned_pfas.csv', index=False)

In [39]:
# Read in the cleaned cancer data
cancer_df = pd.read_csv('../data/cleaned/cleaned_cancer_dataset.csv')

# Merge PFAS and cancer data on county
merged_df = pd.merge(wide_df_filled, cancer_df, on='county', how='inner')

# Display first few rows of merged dataset
print("First few rows of merged PFAS and cancer data:")
merged_df

First few rows of merged PFAS and cancer data:

,county,gm_samp_collection_date,10:2FTS,11ClPF3OUDS,3:3FTCA,4:2FTS,5:3FTCA,6:2FTS,7:3FTCA,8:2FTS,...,PFPES,PFTEDA,PFTRIDA,PFUNDCA,total_pfas_concentration,Sex,Cancer,PopTot,AAIR,Cancer_Incidents
0,Alameda,2018-09-11,1.200595,1.120463,1.658471,2.179993,1.485784,7.667568,1.847953,4.009532,...,4.951307,1.458615,1.458615,1.115142,66.303941,Male,Prostate,4150512,91.9,3814.320528
1,Alameda,2018-09-11,1.200595,1.120463,1.658471,2.179993,1.485784,7.667568,1.847953,4.009532,...,4.951307,1.458615,1.458615,1.115142,66.303941,Female,Prostate,4209494,0.0,0.000000
2,Alameda,2018-09-11,1.200595,1.120463,1.658471,2.179993,1.485784,7.667568,1.847953,4.009532,...,4.951307,1.458615,1.458615,1.115142,66.303941,Male,Breast,4150512,1.2,49.806144
3,Alameda,2018-09-11,1.200595,1.120463,1.658471,2.179993,1.485784,7.667568,1.847953,4.009532,...,4.951307,1.458615,1.458615,1.115142,66.303941,Female,Breast,4209494,125.4,5278.705476
4,Alameda,2018-09-11,1.200595,1.120463,1.658471,2.179993,1.485784,7.667568,1.847953,4.009532,...,4.951307,1.458615,1.458615,1.115142,66.303941,Male,Lung,4150512,37.8,1568.893536
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100433,Yuba,2021-11-18,1.200595,1.098612,1.658471,2.153698,1.485784,2.153698,1.847953,2.153698,...,1.072344,1.098612,1.098612,1.098612,57.605264,Female,Liver,196337,6.4,12.565568
100434,Yuba,2021-11-18,1.200595,1.098612,1.658471,2.153698,1.485784,2.153698,1.847953,2.153698,...,1.072344,1.098612,1.098612,1.098612,57.605264,Male,Pancreas,205837,16.8,34.580616
100435,Yuba,2021-11-18,1.200595,1.098612,1.658471,2.153698,1.485784,2.153698,1.847953,2.153698,...,1.072344,1.098612,1.098612,1.098612,57.605264,Female,Pancreas,196337,11.4,22.382418
100436,Yuba,2021-11-18,1.200595,1.098612,1.658471,2.153698,1.485784,2.153698,1.847953,2.153698,...,1.072344,1.098612,1.098612,1.098612,57.605264,Male,AllSite,205837,484.2,996.662754
100437,Yuba,2021-11-18,1.200595,1.098612,1.658471,2.153698,1.485784,2.153698,1.847953,2.153698,...,1.072344,1.098612,1.098612,1.098612,57.605264,Female,AllSite,196337,423.8,832.076206

In [40]:
# Save the merged DataFrame to a CSV file
merged_df.to_csv('../data/cleaned/cleaned_pfas_cancer_merged.csv', index=False)